/*reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    font-family: "sans-serif", Arial, Helvetica;
}

a,
li {
    background: transparent;
    text-decoration: none;
    list-style: none;
}

/*flex layout*/

.flex-e {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

.flex-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-a {
    display: flex;
    justify-content: space-around;
}

/*body*/
body {
    border: 1px solid black;
    min-height: 100vh;
    background-color: #eceef1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 45px 100px 600px 150px;
    justify-items: center;
    align-items: center;
    line-height: 1.1;
    font-size: 14px;
    color: #404040;
}

body>* {
    height: 100%;
    width: 100%;
}

/*sign in section*/
.signin-container {
    justify-content: flex-end;
    font-size: 12px;
    color: #787A80;
    height: 50px;
}

.signin-container p {
    padding: 5px 0px 5px 0px;
}

.signin-btn {
    background: url(images/lock.png) 10px no-repeat;
    background-color: #0077C5;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    font-size: 13.5px;
    height: 34px;
    width: 120px;
    margin-left: 10px;
    margin-right: 40px;
    text-transform: capitalize;
}

/*header*/
.header-primary {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.nav-primary {
    flex-direction: column;
    padding: 0 30px 0 30px;
    width: 400px;
    font-size: 1.3em;
}

li {
    padding: 1.3em 0 1em 30px;
}

ul li a {
    color: #505050;

}

/*header logo and icons*/
.logo {
    background: url(images/logo.png) no-repeat center;
    width: 100%;
    height: 100%;
}

.nav-icon1 {
    background: url(images/mint.png) no-repeat left;
}

.nav-icon2 {
    background: url(/images/book.png) no-repeat left;
}

.nav-icon3 {
    background: url(images/turbo.png) no-repeat left;
}

/*main section */

main div {
    text-align: center;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    flex-direction: column;
    width: 380px;
    justify-items: center;

}


.main-header {
    flex-direction: column;
    height: 130px;
}

.main-header>h1 {
    color: #393A3D;
    font-weight: 400;
    font-size: 20px;
}

.main-header>p {
    color: #787A80;
    font-size: 14px;
    padding: 0px 21px 0px 21px;
}

.secondary-links {
    color: #047AC8AB;

}

.secondary-links:hover {
    text-decoration: underline
}

/*form section*/
fieldset {
    flex-direction: column;
    height: 300px;
    text-align: left;
    text-transform: capitalize;
}

fieldset button {
    background: url(images/lock.png) 70px no-repeat;
    width: 100%;
    height: 44px;
    background-color: #0077C5;
    color: #FFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;

}

label {
    display: flex;
    flex-direction: column;
}

input {
    height: 34px;
    width: 320px;
    border: 1px solid #d8d8d8;
    color: #000000;
    border-radius: 3px;
    margin-top: 6px;
}

input:focus {
    border: 1px solid #52A8EC;
    box-shadow: 0 1px 1px #FFF inset, 0 0 8px #52A8EC;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.label {
    flex-direction: row;
    width: 100%;
    justify-content: left;
    margin-top: 10px;
}

.label span {
    margin-left: 2px;
    font-weight: 300;
    color: #8e8b8b;
    font-size: 13px;
    line-height: 25px;
    text-transform: lowercase;
}

.p-label {
    font-size: 10px;
    color: rgb(110, 109, 109);
    width: 100%;
    text-transform: lowercase;

}

.input-pass {
    background: url(/images/unlock.png) right no-repeat;
}

/*main footer*/
.main-foot {
    height: 100px;
    font-size: 12px;
    font-style: italic;
    color: #757575;
    line-height: 21px;
    padding: 10px;
}

.main-foot p:last-child {
    font-weight: bold;
}

.policy {
    background-color: #eceef1;
    font-size: 10px;
    color: #8d9096;
    width: 100%;
    height: 50px;
    justify-content: center;
}



/*primary footer*/
.primary-foot section:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    width: 100%;
}


.foot p {
    color: #8d9096;
    text-align: center;
    color: #505050;
}

.secondary-nav ul {
    display: flex;
    justify-content: center;
}

.secondary-nav ul li a {
    color: #505050;

}

.secondary-nav ul li {
    padding: 10px;
}


.foot-link {
    width: 100%;
    background-color: #fff;
    height: 61px;
    padding-left: 20px;
}

.foot-link a {
    font-size: 13px;
    color: #0077C5;
}


.primary-foot {
    flex-direction: column;
    width: 100%;
}

.secondary-nav a:hover {
    text-decoration: underline
}